body{
    font-family: 'Raleway', sans-serif;
    height: 150vh;
    margin: 0;
    padding: 0;
}

.navbar-container{
    position: fixed;
    width: 100vw;
    
}

.navbar{
    padding: 10px 20px;
    transition: 1s;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-group{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

.logo{
    font-weight: 900;
    font-size: 40px;
    color: white;
}
.nav-link{
    cursor: pointer;
}
.nav-link:hover{
    border-bottom: 0.4px solid black
}

.jumbotron-container{
    background-image: linear-gradient(#9DC5CB,#ebf3f6);
}

.jumbotron{
    margin: 0px 180px;
    padding-top: 120px;
    text-align: center;
}
.jumbo-text-xl{
    color: #182446;
    font-size: 60px;
    font-weight: 900;
}

.jumbo-text{
    font-size: 24px;
    color: #182446;
    font-weight: 500;
}

.custom-btn{
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 900;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
}

.custom-btn:hover{
    background-color: white;
    color: black;

}

.get-started{
    font-size: 12px;
    color: #151c30;
    font-weight: 700;
}

.get-started:hover{
    color: #151c30;
    cursor: pointer;
}

.jumbotron-footer{
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: wheat;
}

.footer-img{
    height: 20px;
    /* padding: 5px 20px; */
    margin: 10px 20px
}


.head{
     display: flex;
    justify-content: center;
    font-size: 12px;
    color: black;
    font-weight: 600;

}
.product{
    /* display: flex;
    justify-content: center; */
    font-size: 12px;
    color: black;
}

.product.content{
    padding: 8px 8px 8px 8px;
    margin: 0px;
}

.head-product{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px ;
    justify-content: space-evenly;
}

.detail-product{
    font-size: 18px;
    color: #182446;
    font-weight: 900;
    padding: 10px;
}

.description{
    font-size: 12px;
    color:black;
    font-weight: 300;
    padding: 5px 0px;
}
.btn-product{
    background-color: #ebf3f6;
    color: #151c30;
    border: 1px solid #151c30;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    /* height: 34px;
    width: 267px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #172345;
    color: #172345;
    font-size: 15px;
    font-weight: 600; */
    
}.btn-product:hover {
    cursor: pointer;
    color: blue;
    transition: 200ms;
    border: 1px solid blue;
}


.box{
    margin-top: 0px;
    background-color: #F4F9FB;
    padding: 10px 20px 10px 20px;
    height: 100px;
    width: 300px;
}
.product-image{
    height: 400px;
    width: 340px;
    margin-top: 20px;
    display: block;
}